.App {
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
}

.Details {
  text-align: left;
}

.Form {
  height: 120px;
}

.Employees {
}

.add-button {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
}

a {
  color: #757575;
}
a:link,
a:visited {
  /* or a[href] */
  text-decoration: none;
}
